ul {
    width: 50%;
    min-width: 200px;
}

li {
    position: relative;
}

.check-box:hover {
    cursor: pointer;
}

.fa-xmark {
    position:absolute;
    right: 20px;
    transition: transform 0.3s;
}

.fa-xmark:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.7);
}

.form-add-list {
    width: 50%;
}

.container {
    background-color: aliceblue;
}