ul {
    width: 50%;
    min-width: 200px;
}

li {
    position: relative;
}

.check-box:hover {
    cursor: pointer;
}

.fa-xmark {
    position:absolute;
    right: 20px;
    transition-property: font-size;
    transition-duration: 0.5s;
}

.fa-xmark:hover {
    cursor: pointer;
    color: red;
    font-size: 30px;
}

.form-add-list {
    width: 50%;
}

.container {
    background-color: aliceblue;
}