ul {
    max-width: 50%;
}

li {
    position: relative;
}

.fa-xmark {
    position:absolute;
    right: 20px;
    transition-property: font-size;
    transition-duration: 0.5s;
}

.fa-xmark:hover {
    cursor: pointer;
    color: red;
    font-size: 30px;
}

